* {
    transition:width .25s;
    outline:none;
}


/*Scrollbar*/

::-webkit-scrollbar{
    width:3px;
}

::-webkit-scrollbar-track {
    background:rgb(24, 17, 51);
    border-radius:2px;
}

::-webkit-scrollbar-thumb{
    background: rgb(194, 50, 40);
    border-radius:2px;
}

/* Animations */
@keyframes colorful {
    0% {
        color: rgb(156, 217, 243);
    }

    50%{
        color:rgb(231, 122, 216);
    }
        
    100%{
        color: rgb(156,217,243);
    }
}

@keyframes gradientstuff{
    0%{
        background-position:10% 0%
    }

    100%{
        background-position: 91% 100%;
    }
}



html{
    
    height:100%;
}

body {
    background-image: url("../images/Genesis-Background-Edited.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    

    color: rgb(236, 73, 73);
    margin-bottom: 100px;
    z-index: 2;    
}

.web-title h1{
    text-shadow: 0 0 15px red;
}

a{
    color:rgb(213, 107, 207);
}

a:hover{
    color:rgb(255, 182, 103);
}

#logo{
    width:400px;
    margin-bottom:0px;
}

.box {
    /* display:none; */
    
    background:linear-gradient(to bottom, rgb(74, 33, 83), rgb(24, 17, 51) );
    padding:15px;
    border-radius:8px;
    border:rgb(122, 43, 164) solid;
    margin-bottom:15px;
    
    color: rgb(255, 182, 103);
}

#concert-info{
    min-height:200px;
    max-height:300px;
    overflow-y:scroll;
}

.search-box {
    background:linear-gradient(to bottom right, rgb(142, 34, 34), rgb(90, 32, 42), rgb(66, 23, 53));
    padding:15px;
    border-radius:8px;
    border:rgba(204, 65, 116, 0.53) solid;
    margin-bottom:15px;
    
    color: rgb(255, 184, 137);

    box-shadow: 0 0 5px rgb(255, 100, 53);

    transition: box-shadow .25s, opacity, .25s;
}

.search-box:hover{
    box-shadow:none;
}

.text-box {
    background:linear-gradient(to bottom right, rgb(66, 23, 53), rgb(90, 32, 42), rgb(142, 34, 34));
    background-size:200%;
    
   
    color:rgb(255, 131, 100);
    border:rgb(88, 33, 67) solid 2px;
    border-radius:3px;
    
    transition:background .25s, border .25s;
}

.text-box::placeholder{
    color:rgba(169, 187, 218, 0.571);
}

.text-box:hover{
    border:rgba(231, 178, 122, 0.476) solid 1px;
}

.text-box:focus{
    /* background:linear-gradient(to right bottom, rgb(48, 72, 78), rgb(63, 81, 150), rgb(36, 47, 46)); */
    box-shadow:none;
    border:rgb(88, 32, 22) solid 1px;


    animation: gradientstuff 1s forwards;
}

#search-button{
    background: radial-gradient(rgb(176, 50, 41), rgb(125, 35, 35));
    background-size:200%;
    padding:10px;
    width:50%;
    margin:0 25% 0 25%;
    color: rgb(255, 218, 179);
    font-size:16px;
    border-radius: 2px;
    border: inherit solid 2px;

    box-shadow: 0 5px 5px rgba(34, 14, 41, 0.714);

    transition: background .25s, box-shadow .25s, font-size .25s, padding .25s, color .25s;
}

#search-button:hover{
    cursor:pointer;
    background: radial-gradient(rgb(194, 50, 40), rgb(149, 36, 36));
    background-size:200%;
    color: rgb(255, 218, 179);
    box-shadow:0 0 5px rgb(231, 55, 55);

    font-size:18px;

}

.concert-div {
    display: inline-block;
    position: relative;
    margin: 10px;
}

.concert-div:hover{
    cursor:pointer;
    border: rgb(231, 55, 55) solid 2px;
    border-radius: 5px;
    
}

.concert-text-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: inherit solid 2px;
    border-radius: 5px;
}

.concert-text-artist {
    font-weight: bold;
    margin-bottom: 0;
}

.concert-text-date {
    font-size: 14px;
    margin-bottom: 0;
}

.concert-img {
    border-radius: 5px;
    border: inherit solid;
}

/* #concert-music-div .modal-content{
    width:100%;
    border:none;
} */

.close-button{
    padding:3px 5px;
    color:rgb(255, 131, 100);
    background:rgb(74, 33, 83);
    border:rgb(82, 34, 115) solid;

    border-radius:3px;

    transition: font-size .25s;
}

.close-button:hover{
    color:rgb(255, 172, 124);
    font-size:40px;
}

.reveal{
    margin: 15px auto;
}

.button{
    background:rgb(82, 34, 115);
    color:rgb(255, 95, 80);
    font-size:18px;
    padding:10px;
    border: rgb(159, 48, 193) solid 2px;
}

footer {
    width:100%;
    background:rgb(59, 29, 45);
    color:rgb(255, 131, 100);
    padding:5px;
    text-align:center;
    position:fixed;
    bottom:0;
    left:0;
}


@media only screen and (max-width: 400px){
    
    body {
        background-image: url("../images/Genesis-Background-Mobile.png");
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-size:150%;
        
        color: rgb(236, 73, 73);
        margin-bottom: 100px;
        z-index: 2;    
    }

    .search-box{
        text-align:center;
        font-size: 20px;
    }

    #concert-info{
        height:300px;
        overflow-y:scroll;
    }

    .reveal-overlay{
        height:100%;
        background:rgba(10, 10, 10, 0.80);
    }

    .button{
        width: 100%;
    }

    .reveal{
        
        width:90%;
      margin: 0 auto;
    }

}