* {
    transition:width .25s;
    outline:none;
    box-sizing: border-box;
}

/* CSS VARIABLES (2021 Update)*/

:root {
    --custom-red: rgb(142, 34, 34);
    --custom-purple: rgb(31, 12, 41);
    --custom-text-color: rgb(255, 186, 112);
}

/*=/=/=/=/=/=/=/=/=/=/=/=/=/*/

/*Scrollbar*/

::-webkit-scrollbar{
    width:3px;
}

::-webkit-scrollbar-track {
    background:rgb(24, 17, 51);
    border-radius:2px;
}

::-webkit-scrollbar-thumb{
    background: rgb(194, 50, 40);
    border-radius:2px;
}

/* Animations */
@keyframes colorful {
    0% {
        color: rgb(156, 217, 243);
    }

    50%{
        color:rgb(231, 122, 216);
    }
        
    100%{
        color: rgb(156,217,243);
    }
}

@keyframes gradientstuff{
    0%{
        background-position:10% 0%
    }

    100%{
        background-position: 91% 100%;
    }
}

@keyframes slide-in {
    from {
        opacity: 0;
        min-height: 0;
    }
    to {
        opacity: 1;
        min-height: 200px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

h5{
    font-size: 18px;
    font-weight:bolder;
    color:rgb(236, 175, 84);

}

h4{
    font-size: 20px;
    font-weight:bolder;
    color:rgb(255, 186, 112);
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

h3{
    font-weight:bolder;
    color:rgb(255, 186, 112);
    text-decoration: underline;
}

hr {
    border-bottom:none;
    border: rgba(159, 48, 193, 0.517) solid 1px;
}

html{
    height:100%;
}

body {
    background-image: url("../images/Genesis-Background-Edited.png");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    min-height: 100vh;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    
    /*Flex Update - 2021*/
    display: flex;
    flex-direction: column;
    /*=/=/=/=/=/=/=/=/=/=/=/=/*/
    
    color: rgb(236, 73, 73);
    z-index: 2;
}

main {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    align-self: center;
    flex: 1;
    width: 80%;
}

.web-title h1{
    text-shadow: 0 0 15px red;
}

a{
    color:rgb(223, 142, 219);
    font-style:italic;
}

a:hover{
    color:rgb(255, 182, 103);
}

#logo{
    width:400px;
    margin-bottom:0px;
    padding:15px;
}

.box {
    /* display:none; */
    
    background:linear-gradient(to bottom, rgb(74, 33, 83), rgb(24, 17, 51) );
    padding:15px;
    border-radius:8px;
    border:rgb(122, 43, 164) solid;
    margin-bottom:15px;
    
    color: rgb(255, 182, 103);
}

#concert-info{
    animation: slide-in .15s ease-in;
    min-height:200px;
    /* height: calc(100vh - 310px); */
    background: var(--custom-purple);
    /* overflow-y:scroll; */
    width: 100%;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border:rgba(204, 65, 116, 0.53) solid 4px;
    border-top: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}

.search-box {
    background:var(--custom-purple);
    padding:15px;
    border-radius:8px;
    border:rgba(204, 65, 116, 0.53) solid 4px;
    margin: 10px auto;
    max-width: 500px;
    color: rgb(255, 184, 137);

    /* box-shadow: 0 0 5px rgb(255, 100, 53); */

    transition: .25s;
}

.search-box p {
    font-size: 24px;
    padding: 5px;
    margin: 0;
}

/* .search-box:hover{
    box-shadow:none;
} */

.searchbox-flexrow {
    display: flex;
    width: 100%;
    align-items: center;
    vertical-align: top;

    height: 30px;
}

.searchbox-flexrow > * {
    height: 100%;
}

.searchbox-flexrow > input {
    flex: 1;
}

.text-box {
    background:linear-gradient(to bottom right, rgb(66, 23, 53), rgb(90, 32, 42), rgb(142, 34, 34));
    background-size:200%;
    padding: 10px;
    font-size: 16px;
    color:rgb(255, 131, 100);
    border:rgb(88, 33, 67) solid 2px;
    border-radius:3px;
    
    transition:background .25s, border .25s;
}

.text-box::placeholder{
    color:rgba(169, 187, 218, 0.571);
}

.text-box:hover{
    border:rgba(231, 178, 122, 0.476) solid 1px;
}

.text-box:focus{
    /* background:linear-gradient(to right bottom, rgb(48, 72, 78), rgb(63, 81, 150), rgb(36, 47, 46)); */
    box-shadow:none;
    border:rgb(88, 32, 22) solid 1px;

    animation: gradientstuff 1s forwards;
}

#search-button{
    background: radial-gradient(rgb(176, 50, 41), rgb(125, 35, 35));
    background-size:200%;
    padding: 0px;
    /* width:50%; */
    /* margin:0 25% 0 25%; */
    color: rgb(255, 218, 179);
    font-size:16px;
    width: 50px;
    border-radius: 2px;
    border: inherit solid 2px;
    border: none;
    box-shadow: 0 5px 5px rgba(34, 14, 41, 0.714);

    transition: .25s;
}

#search-button:hover{
    cursor:pointer;
    background: radial-gradient(rgb(194, 50, 40), rgb(149, 36, 36));
    background-size:200%;
    color: rgb(255, 218, 179);
    box-shadow:0 0 5px rgb(231, 55, 55);    

    transform: scale(1.2);

}

#concertInfoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-y:scroll;
    
    flex-direction: column;

    align-items: center;

    animation: fade-in .25s ease-in;
}

#concertInfoModal .button {
    margin: 10px;
    display: inline-block;
}

.concert-div {
    /* display: inline-block; */
    width: 250px;
    position: relative;
    margin: 5px;
    opacity:.7;
    transition: box-shadow .25s, opacity .25s;

    animation: fade-in .25s ease-in;
}

.concert-div img {
    max-width: 100%;
}

.concert-div:hover{
    cursor:pointer;
    
    opacity: 1;
}

.concert-text-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: inherit solid 2px;
    border-radius: 5px;
}

.concert-info-div{
    text-align:center;
    background: var(--custom-purple);
    padding: 15px;
}

.concert-info-div h4{
    font-style:bolder;
    font-size: 24px;
}

.concert-text-artist {
    font-weight: bold;
    margin-bottom: 0;
}

.concert-text-date {
    font-size: 14px;
    margin-bottom: 0;
}

.concert-img {
    border-radius: 5px;
    border: inherit solid;
}

.newAlbumRow {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--custom-purple);
    padding: 15px;
}

.albumArtCol > img {
    max-width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#concertMusicDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--custom-text-color);
}

/* #concert-music-div .modal-content{
    width:100%;
    border:none;
} */

.close-button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color:rgb(255, 131, 100);
    background:rgb(74, 33, 83);
    border:rgba(204, 65, 116, 0.53) solid 4px;
    border-radius: 50%;

    margin: 10px;

    font-size: 40px;
   

    transition: .25s;
}

.close-button:hover{
    color:rgb(255, 172, 124);
    border-color: rgb(255,131,100);
    
}

.reveal{
    margin: 15px auto;
    
}

.other-song{
    background: rgb(15, 11, 39);
}

.button{
    background:rgb(82, 34, 115);
    color:rgb(255, 95, 80);
    font-size:18px;
    padding:10px;
    border: rgb(159, 48, 193) solid 2px;
}

.button:hover{
    background:rgb(159, 48, 193);
    color:rgb(255, 182, 103);
    text-shadow:0 0 2px rgb(255, 182, 103);
}

footer {
    width:100%;
    background:rgb(59, 29, 45);
    color:rgb(255, 131, 100);
    padding:10px;
    font-size: 18px;
    text-align:center;
}

@media only screen and (max-width: 660px) {
    main {
        width: 80%;
    }

    .search-box {
        width: 100%;
    }
}


@media only screen and (max-width: 450px){
    
    body {
        background-image: url("../images/Genesis-Background-Mobile.png");
        background-attachment:fixed;
        background-repeat:no-repeat;
        background-size:150%;
        
        color: rgb(236, 73, 73);
        margin-bottom: 100px;
        z-index: 2;    
    }

    main {
        width: 100%;
    }

    #logo {
        width: 100%;
    }

    .search-box{
        text-align:center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-box > p {
        font-size: 20px;
    }

    .searchbox-flexrow {
        flex-wrap: wrap;
        justify-content:center;
        height: initial;
    }

    #search-button {
        margin-top: 5px;
        width: 100%;
        padding: 5px 0;
    }

    #search-button:hover {
        transform: none;
    }

    #search-box {
        width: 100%;
    }

    .button{
        width: 100%;
    }

}